<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="navigateTo('/')">
      <mat-icon>menu_book</mat-icon>
    </button>
    <span>Bookary</span>
    <span class="spacer"></span>
    <span fxHide.lt-md>{{ title }}</span>
    <span fxHide.lt-md class="spacer"></span>

    <app-user-card [auth]="auth" fxHide.lt-md></app-user-card>

    <button mat-icon-button (click)="navigateTo('details')" *ngIf="auth.user | async">
      <mat-icon>search</mat-icon>
    </button>
    <button mat-icon-button *ngIf="(auth.user | async) && navigation !== '/admin'" (click)="navigateTo('admin')">
      <mat-icon>admin_panel_settings</mat-icon>
    </button>

    <button *ngIf="(auth.user | async) && navigation !== '/'" mat-button (click)="goBack()">Go back</button>

    <button mat-icon-button (click)="checkForUpdate()">
      <mat-icon>system_update</mat-icon>
    </button>
  </mat-toolbar-row>

  <mat-toolbar-row fxHide.gt-sm>
    <span class="spacer"></span>
    <app-user-card [auth]="auth"></app-user-card>
  </mat-toolbar-row>

  <mat-toolbar-row fxHide.gt-sm>
    <span class="spacer"></span>
    <span>{{ title }}</span>
    <span class="spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>
