<mat-toolbar color="primary">
	<mat-toolbar-row>
		<button mat-icon-button (click)="goToHome()">
			<mat-icon>menu_book</mat-icon>
		</button>
		<span role="button" (click)="goToHome()">{{ title }}</span>
		<span class="spacer"></span>

		<app-user-card [userState$]="userState$" (login)="login()" (logout)="logout()"></app-user-card>
		<app-language-selector></app-language-selector>

		<button mat-icon-button fxHide.lt-md (click)="goToBooks()">
			<mat-icon>books</mat-icon>
		</button>

		<button *ngIf="navigation !== '/home'" fxHide.lt-md mat-button (click)="goBack()">{{ 'header.goBack' | transloco }}</button>
	</mat-toolbar-row>

  <mat-toolbar-row fxHide.gt-sm>
    <span class="spacer"></span>
		<button mat-icon-button (click)="goToBooks()">
			<mat-icon>books</mat-icon>
		</button>
		<button *ngIf="navigation !== '/home'" mat-button (click)="goBack()">{{ 'header.goBack' | transloco }}</button>
  </mat-toolbar-row>
</mat-toolbar>
