<div *ngIf="userState$ | async as userState">
  <ng-container *ngIf="userState.currentUser; then authenticated else guest"></ng-container>

  <!-- User NOT logged in -->
  <ng-template #guest>
    <button mat-icon-button [loading]="userState.isLoading" spinnerColor="accent" (click)="onLoginClick()">
      <mat-icon>login</mat-icon>
    </button>
  </ng-template>
  
  <!-- User logged in -->
  <ng-template #authenticated>
    <a *ngIf="userState.currentUser as user" [routerLink]="['/users', user.uid]" routerLinkActive="active" class="profile-link">
      <img class="profile-image" [src]="user.photoURL">
      <span *ngIf="!small" class="profile-text">{{ user.displayName }}</span>
    </a>
    <button mat-icon-button (click)="onLogoutClick()">
      <mat-icon>logout</mat-icon>
    </button>
  </ng-template>
</div>