<div class="scanner-container">
  <mat-form-field appearance="outline" floatLabel="auto">
    <mat-label>EAN/ISBN code</mat-label>
    <input matInput type="text" placeholder="EAN/ISBN code" [value]="lastScannedCode" (keyup.enter)="onEnter()" #codeInput />

    <button matSuffix mat-icon-button mat-button color="primary" (click)="onClick($event)">
      <mat-icon svgIcon="barcode-scanner" aria-hidden="false" aria-label="Barcode Scanner"></mat-icon>
    </button>
  </mat-form-field>

  <div [hidden]="!show" class="scanner">
    <barcode-scanner-livestream
      type="ean"
      (valueChanges)="onBarcodeScanned($event)"
    ></barcode-scanner-livestream>
    <div [hidden]="!lastScannedCode">{{ lastScannedCode }}</div>

    <button mat-raised-button (click)="validate()" [disabled]="!lastScannedCode">Validate</button>
  </div>
</div>
